{% extends 'over/base.html' %} {% load static %} {% block content %}

{% include 'over/featured.html' %}

<div class="post_container">
  {% for post in posts %}
  <div class="post_card">
    <div class="post_card_inner">
      <img src="{{post.thumbnail.url}}" alt="I dont know" />
      <div class="post_card_title_info">
        <a href="{{post.get_absolute_url}}">
          <h3>{{post.title}}</h3>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

  {% if posts.has_previous %}
    <a href="?page={{posts.previous_page_number}}">&laquo;</a>
    {% endif %}

    {% for p in posts.paginator.page_range  %}
      {% if p.number == p %}
      <a href="?page={{p}}">{{p}}</a>
      {% else %}
      <a href="?page={{p}}">{{p}}</a>
      {% endif %}
    {% endfor %}

  {% if posts.has_next %}
  <a href="?page={{posts.next_page_number}}">&raquo;</a>
  {% endif %}

{% endblock content %}
